# Udemy - an American massive open online course provider aimed at professional adults and students is trying to understand the sales in one its profesional course categories. You hav been tasked as a data analyst to answer the following business questions using the available data stored in Google drive. Please note that for compliance reasons, you are not allowed to have a copy of the dataset.

The dataset to be used is an excel file which can be found at https://docs.google.com/spreadsheets/d/e/2PACX-1vQkpo2TA9xJ4gKon4ptPJBnlO3WJcTIP6soD1IL2x9D-jUUhZ9HhMlo7kcKuu1RmRi8wZb4o6lMnCJB/pub?output=xlsx and the Data is located in a sheet named "Data". With the aid of the available dataset, answer the following questions.

1. Load the dataset into python.

In [ ]:
import pandas as pd

In [ ]:
DS = pd.read_excel(r'https://docs.google.com/spreadsheets/d/e/2PACX-1vQkpo2TA9xJ4gKon4ptPJBnlO3WJcTIP6soD1IL2x9D-jUUhZ9HhMlo7kcKuu1RmRi8wZb4o6lMnCJB/pub?output=xlsx', sheet_name = 'Data')

In [ ]:
print (DS)

2. Show the first 20 rows of the dataset

In [ ]:
DS.head(20)

3. What are the 10 most subscribed courses?

In [ ]:
Top = DS.sort_values ("num_subscribers", ascending=False)
display (DS)
display (DS[["course_title" , "num_subscribers"]])

OR

In [ ]:
Top = DS.sort_values ("num_subscribers")
display (DS.tail(10))

4. What is the last subscribed course?

In [ ]:
Time = DS.sort_values ("published_timestamp", tail()

5. Which course has the highest rating?

In [ ]:
rating = DS.sort_values("Rating", ascending=False.head(1)

6. How wmany null values are in the dataset?

In [ ]:
DS.isnull().sum()

7. Display all rows that have null values

In [ ]:
DS [DS.is null().any(axis=1)]

The above code returns any roll that has at least 1 null value or 1 NAN

OR

In [ ]:
DS [DS.is null().all(axis=1)]

The above code returns any roll that all the entries are null

8. Display all the rows and columns in the dataset

In [ ]:
display DS

OR

In [ ]:
pd.set_option("display.max_row", None, "display.max_column", None)

THANK YOU.